# commands
invoke==2.2.0
pipreqs==0.4.13

# testing
pytest==7.4.3
coverage==7.6.11

# linting
ruff==0.1.3

# docs
mkdocs==1.5.3
mkdocs-material==9.4.6
mkdocstrings-python==1.12.2

# typing
mypy==1.14.1

# pre-commit
pre-commit==4.0.1

# logging
loguru==0.7.3
loguru-config==0.1.0

# gs
google-api-python-client==2.159.0

# for gsutil error
proto-plus==1.24.0.dev1

# dvc
dvc==3.59.0
dvc-gs==3.0.1

# streamlit
streamlit==1.41.1

# monitoring
prometheus-client==0.21.1

# api testing
locust==2.32.6
httpx==0.28.1